* {
    margin: 0px;
    padding: 0px;
}

:root {
    --text-color: white;
    --secund-text-color: #CDCDCD;
    --bg-color: rgb(0, 0, 0);
    --invi: rgba(0, 0, 0, 0);
    --transition: all 0.5s; ;
    --mask-color: rgba(0, 0, 0, 0.7);
}


body {
    background-color: var(--bg-color);
    position: relative;
    font-family: "Roboto Mono", monospace;
}

header {
    height: auto;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 42px 16px 8px 16px;
    transition: var(--transition);
}

.btn__menu {
    display: flex;
    align-items: center;
    background-color: var(--invi);
    border: none;
    cursor: pointer;
}

.item__text{
    display: none;
}

#menu__mb {
    padding-top: 90px;
    display: none;
    z-index: 1;
    position: fixed;
    height: 376px;
    width: 100vw;
    background-color: var(--bg-color);
    border-bottom: 2px solid var(--text-color);
    animation-duration: 1s;
    animation-name: start;
    animation-iteration-count: 1;

}

@keyframes start {
    0% { transform: translate(0%, -110%); opacity: 0 }
    100% { transform: translate(0%, 0%); opacity: 1}
}

.bg__md {
    margin-top: 56px;
    width: 100vw;
    height: 100vh;
    background-color: var(--mask-color);
}

#lista__mb {
    display: flex;
    flex-direction: column;
    margin-top: 42px;
    align-items: center;
    gap: 16px;
}

.selected, .selectable {
    overflow: hidden;
}

.mb__text{
    display: block;
    font-size: 36px;
    color: var(--text-color);
    text-decoration: none;
    padding: 4px 8px 4px 8px;
}

.bar {
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    transform:  translate(-110%);
    transition: var(--transition);
}

.selected > .bar {
    transform: translate(0%); 
}

.selectable:hover .bar{
    transform: translate(0%);  
}

#cont {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "dsn"
    "front";
}

#dsn__cont {
    grid-area: dsn;
}

#front__cont {
    grid-area: front;
}

.stl__cont {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    overflow: hidden;
}

.mask{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--mask-color);
}

.img__home {
    width: 100%;
    transform: scale(1.3);
}

.stl__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    text-decoration: none;
    padding: 8px 0px 8px 8px;
    border: solid 2px white;
}

.txt__h2 {
    color: var(--text-color);
    font-size: 24px;
}

/* media quety */

@media only screen and (min-width: 768px) {
    nav {
        width: auto;
        margin: 0px 104px 0px 104px;
        padding: 42px 0px 16px 0px;
    }

    #logo__img {
        width: 100%;
        height: 100%;
    }

    #logo {
        display: flex;
        height: 116.3px;
        margin-right: 36px;
        transition: var(--transition);
    }
    
    .btn__menu {
        display: none;
    }
    
    .item__text{
        display: block;
        font-size: 36px;
        color: var(--text-color);
        text-decoration: none;
    }

    .bar {
        width: 100%;
        height: 2px;
        background-color: var(--text-color);
        transform:  translate(-100%);
        transition: var(--transition);
    }

    #navList {
        overflow: hidden;
    }

    #navList:hover .bar {
        transform: translate(0%);   
    }

    /* .item__text:hover {
        border-bottom: 2px solid var(--text-color);
    } */
    
    #cont {
        height: 100vh;
        display: flex;
        flex-direction: row;
        /* display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 100%;
        grid-template-areas: 
        "dsn front"
        "dsn front"; */
    }
    
     #dsn__cont:hover, #front__cont:hover {
        width: 140%;
    }


    #dsn__cont {
        grid-area: dsn;
        transition: var(--transition);
    }
    
    #front__cont {
        grid-area: front;
        transition: var(--transition);
    }

    .img__home {
        height: auto;
        width: 100%;
        transform: scale(1);
    }
    
    .stl__link {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        text-decoration: none;
        padding: 8px 0px 8px 8px;
        border: solid 2px white;
        transition: var(--transition);
    }

    .stl__link:hover {
        background-color: var(--text-color);
    }

    .stl__link:hover .txt__h2 {
        color: black;
    }

    .stl__link:hover .icon__arrow{
        filter: invert(100%);
    }  
    
    .txt__h2 {
        color: var(--text-color);
        font-size: 36px;
    }

    .icon__arrow{
        height: 48px;
        width: 48px;
    }
}