* {
    margin: 0px;
    padding: 0px;
}

:root {
    --text-color: white;
    --secund-text-color: #CDCDCD;
    --bg-color: rgb(0, 0, 0);
    --cont-color: rgba(0, 0, 0, 0.6);
    --transition: all 0.5s;
    --mask-color: rgba(0, 0, 0, 0.7);
    --cont-color-grey: rgba(21, 21, 21, 1);
    --sub-cont-grey:rgba(82, 82, 82, 1);
    --css-color: rgba(1, 112, 186, 1);
    --html-color: rgba(228, 77, 38, 1);
    --js-color: rgba(247, 223, 30, 1);
}


body {
    background-color: var(--bg-color);
    font-family: "Roboto Mono", monospace;
}

header {
    background-color: var(--bg-color);
    height: auto;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 16px 0px 16px;
    padding: 42px 0px 16px 0px;
    transition: var(--transition);
}

.btn__menu {
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    border: none;
    cursor: pointer;
}

.back {
    display: none;
}

#menu__mb {
    display: none;
    z-index: 1;
    position: fixed;
    height: 376px;
    width: 100vw;
    background-color: var(--bg-color);
    border-bottom: 2px solid var(--text-color);
    animation-duration: 1s;
    animation-name: start;
    animation-iteration-count: 1;
}

@keyframes start {
    0% { transform: translate(0%, -110%)}
    100% { transform: translate(0%, 0%)}
}

.bg__md {
    margin-top: 56px;
    width: 100vw;
    height: 100vh;
    background-color: var(--mask-color);
}

#lista__mb {
    display: flex;
    flex-direction: column;
    margin-top: 42px;
    align-items: center;
    gap: 16px;
}

.selected, .selectable {
    overflow: hidden;
}

.mb__text{
    display: block;
    font-size: 36px;
    color: var(--text-color);
    text-decoration: none;
    padding: 4px 8px 4px 8px;
}

.bar {
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    transform:  translate(-110%);
    transition: var(--transition);
}

.selected > .bar {
    transform: translate(0%); 
}

.selectable:hover .bar{
    transform: translate(0%);  
}

main {
    margin-top: 98px;
    display: block;
    width: 100vw;
    height: auto;
    text-decoration: none;
    position: relative;
}

/* .cont__list {
    display: block;
    width: 100vw;
    height: auto;
    text-decoration: none;
    position: relative;
} */

.cont__cover {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    
}

.cover {
    position: absolute;
    height: 400px;
    z-index: -1;
}

.cover__txt {
    height: 366px;
}

.cover__img {
    width: 100%;
}

.mask {
    background-color: var(--mask-color);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.txt__cover {
    display: flex;
    flex-direction: column;
    position: absolute; 
    margin-left: 16px;
    color: var(--text-color);
    gap: 16px;

}

.tlt__cover {
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.info {
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    color: var(--text-color);
}

.cont__info {
    display: flex;
    flex-direction: column;
    background-color: var(--cont-color-grey);
    height: auto;
    margin: 0px 16px 0px 16px;
    padding: 16px 16px 16px 16px;
    gap: 24px;
}

.txt {
    color: var(--text-color);
    font-size: 20px;
}

.btn__main {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.stl__link {
    display: inline-flex;
    /* flex-direction: row; */
    align-items: center;
    text-decoration: none;
    padding: 8px 0px 8px 8px;
    border: solid 2px white;
    transition: var(--transition);
}

.txt__h2 {
    color: var(--text-color);
    font-size: 24px;
}

.stl__link:hover {
    background-color: var(--text-color);
}

.stl__link:hover .txt__h2 {
    color: black;
}

.stl__link:hover .icon__arrow{
    filter: invert(100%);
}  


.cont__stl {
    margin-top: 42px;
}

.lang {
display: flex;
flex-direction: column;
gap: 16px;
}

.lang__bar {
    display: flex;
}

.bar__stl {
    height: 12px;
}

.lang__bar1 {
    background-color: var(--css-color);
    width: 53.4%;
}

.lang__bar2 {
    background-color: var(--html-color);
    width: 45.8%;
}

.lang__bar3 {
    background-color: var(--js-color);
    width: 0.8%;
}

.lang__sub {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 42px;
}

.lang__sub1 {
    display: flex;
    gap: 12px;
}

.lang__sub__txt {
    display: flex;
    gap: 16px;
}

.sub__cont {
    display: flex;
    flex-direction: column;
    border: solid 2px var(--sub-cont-grey);
}

.sub__cont__tlt {
    padding: 16px;
    border-bottom: solid 2px var(--sub-cont-grey);
}

.comps {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
}

.line {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.line2 {
    display: flex;
}

/* media quety */

@media only screen and (min-width: 768px) {

    nav {
        width: auto;
        margin: 0px 104px 0px 104px;
        padding: 42px 0px 16px 0px;
    }

    #logo__img {
        width: 100%;
        height: 100%;
    }

    #logo {
        display: flex;
        height: 64px;
        margin-right: 36px;
        transition: var(--transition);
    }

    .nav__itens {
        display: flex;
        flex-direction: row;
        gap: 32px;
    }

    .back {
        display: flex;
        align-items: center;
    }

    .menu__txt {
        display: block;
    }
    
    .item__text{
        display: block;
        font-size: 36px;
        color: var(--text-color);
        text-decoration: none;
        padding: 4px 8px 4px 8px;
    }

    #lista__mb {
        flex-direction: row;
        justify-content: center;
    }

    #menu__mb {
        height: 152px;
    }


    main {
        margin-top: 122px
    }

    .tlt__cover {
        font-size: 40px;
        font-weight: 500;
        line-height: 100%;
    }

    .txt__cover {
        margin-left: 104px;
    
    }

    .cont__info {
        margin: 0px 104px 0px 104px;
    }

 
}
